<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.mindgate.pojo.Address">  
    <property name="addressID" value="101"></property>
    <property name="street" value="MG Road"></property>
    <property name="city" value="Mumbai"></property>
    <property name="state" value="Maharashtra"></property>
    </bean>

</beans>